

.form-select {
    width: 19%;
}

.btn {
    width: 19%;
}

main {
    background-color: antiquewhite;
}

.container {
    height: calc(100vh - 130px);
}

.wrapper {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    border: 5px solid rgb(96, 96, 255);
}

.box {
    background-color: aliceblue;
    border: 5px solid rgb(96, 96, 255);
    cursor: pointer;
}

.easy {
    width: calc(100% / 10);
    aspect-ratio: 1;
}

.medium {
    width: calc(100% / 9);
    aspect-ratio: 1;
}

.hard {
    width: calc(100% / 7);
    aspect-ratio: 1;
}

.click {
    cursor: not-allowed;
    background-color: rgb(92, 255, 77);
}

.bomb {
    background-color: rgb(255, 77, 77);
}